extends layout 

block content 
    form(class="createForm" id='form' method='POST' action='/edit/' + profile.username)
        label(for='name') Username:
        input(class="field2 fieldName" type='text', name='username' value=profile.username)
        br
        br
        label(for='password') Password:
        input(class="field2 fieldPass" type='text', name='password')
        br
        br
        label(for='email') Email:
        input(class="field2 fieldMail" type='text', name='email' value=profile.email)
        br
        br
        label(for='age') Age:
        input(class="field2 fieldAge" type='text', name='age' value=profile.age)
        br
        br
        label(for='color') Favorite Color: 
        select(class="field3 fieldCol" name="color")
            option(seleted = profile.color) #{profile.color}
            option(value='Blue') Blue
            option(value='Red') Red
            option(value='Green') Green
            option(value='Yellow') Yellow
            option(value='Orange') Orange
            option(value='Purple') Purple
        br
        br
        label(for='entertainment') Favorite Entertainment: 
        select(class="field3 fieldEnt" name="entertainment")
            option(seleted = profile.entertainment) #{profile.entertainment}
                option(value='Anime') Anime
                option(value='Movies') Movies
                option(value='TV Shows') TV Shows
                option(value='Cartoons') Cartoons
                option(value='Youtube') Youtube
                option(value="Other") Other 
        br
        br
        label(for='degree') Degree: 
        select(class="field3 fieldDeg" name="degree")
            option(seleted = profile.degree) #{profile.degree}
                option(value='Game Dev') Game Dev
                option(value='IS') IS
                option(value='CS') CS
                option(value='TM') TM
                option(value='Web') Web
                option(value='SE') SE
        br
        label(class='hdnID') ID: 
        select(class='hdnID' name="id")
            option(value=profile._id) #{profile._id} 
        br
        input(class="button submit3" type="submit" value='Edit Profile')